.racer_table td {
  border: solid black 1px;
  background-color: white;
  height: 50px;
  width: 50px;
  color: black;
}

.racer_table .p1-active {
  background-color: black;
  border: solid gray 1px;
  color: white;
}

.racer_table .p2-active {
  background-color: gray;
  border: solid gray 1px;
  color: white;
}
