<div class="container">

<h1>Welcome to Ruby Racer !!</h1>
  <table class="racer_table">
  <tr id="<%= @player1.name %>" class="<%= @player1.id %>">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="<%= @player2.name %>" class="<%= @player2.id %>">
    <td class="active"  ></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
  <div class="winning-msg"></div>
</div>


