<h1>Welcome to Ruby Racer !!</h1>
  <table class="racer_table">
  <tr id="player1_strip" class="<%= @players[0] %>">
    <td class="p1-active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip" class="<%= @players[1] %>">
    <td class="p2-active"  ></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
<h1 class="winning-msg"></h1>


