<div name="container">
  <h1> Player 2 login: </h1>
  <form id="login" action="/player2" method="post" name="player2">
    <input type="text" name="player2[name]" placeholder="Name" required>
    <input type="email" name="player2[email]" placeholder="E-mail"required>
    <input type="submit" value="Start Game">
  </form>
</div>
